<p class="home_header">Have trouble keeping track of your child's chores and allowance?</p>

<p class="home_info"><strong>The Bank of Mom & Dad </strong> can help you assign chores, keep track of completion status, administer allowances, and manage credit/debit transactions. Simplify your children's "work life" while teaching them the basics of our modern economy.</p>

<p class="home_register">Register now!</p>

<div class="clearfix"></div>