<div class="forms">

  <div class="title">Add a Family</div>

  <%= form_tag do %>

    <div class='field'>
      <%= label_tag 'Family Name:' %>
      <%= text_field_tag 'name' %>
    </div>

      <div class='field'>
      <%= submit_tag "Add Family", :class => "secondary button" %>
    </div>

  <% end %>

</div><!-- .forms -->