Add a Family

<%= form_tag do %>

  <div class='field'>
    <%= label_tag 'Family Name:' %>
    <%= text_field_tag 'name' %>
  </div>

    <div class='field'>
    <%= submit_tag %>
  </div>

<% end %>