<div class="twelve columns title">
  Chores<span class="add"><%= link_to 'add', chores_new_path %></span>
</div><!-- .twelve.columns -->

<div class="twelve columns">
  <%= render :partial => 'chores', :collection => @children, :as => :child %>
</div><!-- .twelve.columns -->

<div class="twelve columns title">
<!  Available Extra Chores >
</div><!-- .twelve.columns -->

<div class="twelve columns">
  <%= render :partial => 'available', :collection => @chores, :as => :chore %>
</div><!-- .twelve.columns -->